<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title><%= content_for(:title) || "Recipes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="">
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col p-4">
          <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
            Open drawer
          </label>
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
            <!-- Sidebar content here -->
            <li><a class="<%= "active" if current_page? %>"><%= inline_svg_tag "home.svg", class:'inline-block w-6 h-6' %> Home</a></li>
            <% if user_signed_in? %>
              <li class="menu-title">User Info</li>
              <li>Family: <%= current_user.family.name %></li>
              <li>Email: <%= current_user.email %></li>
              <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-ghost" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
