<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title><%= content_for(:title) || "Recipes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="min-h-screen max-w-screen m-0 flex justify-center flex-1">
      <div class="flex-1 bg-base text-center hidden lg:flex">
      </div>
      <div class="w-full lg:w-1/2 xl:w-5/12 py-0 px-6 sm:px-12 bg-white">
        <% if notice %>
          <div class="toast toast-top toast-end">
            <p class="alert"><%= notice %></p>
          </div>
        <% end %>
        <% if alert %>
          <div class="toast toast-top toast-end">
            <p class="alert alert-error"><%= alert %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
